<nav class="teal lighten-2">
  <div class="nav-wrapper container">
    <a href="#!" class="brand-logo center">PropListings</a>
    <a materialize="sideNav" href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="hide-on-med-and-down">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a *ngIf="(this.user| async)" [routerLink]="['/listings']">Listings</a></li>
      <li><a *ngIf="(this.user| async)" [routerLink]="['/add-listing']">Add Listing</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a *ngIf="!(this.user| async)"  (click)="login()">Login</a></li>
      <li><a *ngIf="(this.user| async)"  (click)="logout()">Logout</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a *ngIf="(this.user| async)"  [routerLink]="['/listings']">Listings</a></li>
      <li><a *ngIf="(this.user| async)"  [routerLink]="['/add-listing']">Add Listing</a></li>
      <li><a *ngIf="!(this.user | async)"  class="teal lighten-2" (click)="login()">Login</a></li>
      <li><a *ngIf="(this.user | async)" class="teal lighten-2" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
